black
mypy
pip-tools
ipython
numpy<2  # Version 2 or higher is not compatible with PyTorch
tqdm
# Install `torch` separately including support to cuda if available. E.g.: `pip install torch --index-url https://download.pytorch.org/whl/cu124`
