black
mypy
pip-tools
ipython
torch
numpy<2  # Version 2 or higher is not compatible with PyTorch
tqdm
psutil
# If you want `torch` with CUDA support, unistall it and run the proper install command. E.g.: `pip install torch --index-url https://download.pytorch.org/whl/cu124`
